@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Noto+Sans+KR&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* HEADER */
#header_sub {
  width: 100%;
  height: 70px;
}

#header_sub .header_wrap {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 5rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#header_sub .header_wrap .logo {
  margin: 0;
}

#header_sub .header_wrap .logo img {
  width: 40px;
}

#header_sub .header_wrap .menu {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Noto Sans KR", sans-serif;
}

#header_sub .header_wrap .menu .gnbWeb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

#header_sub .header_wrap .menu .gnbWeb li {
  margin: 0 3rem;
  position: relative;
}

#header_sub .header_wrap .menu .gnbWeb li a {
  color: #000;
  -webkit-transition: 0.5;
  transition: 0.5;
}

#header_sub .header_wrap .menu .gnbWeb li::after {
  display: block;
  content: "";
  width: 0px;
  height: 4px;
  background: #d5001c;
  position: absolute;
  left: -5px;
  bottom: -23px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#header_sub .header_wrap .menu .gnbWeb li:hover::after, #header_sub .header_wrap .menu .gnbWeb li.on::after {
  width: 110px;
}

#header_sub .header_wrap .menu .joinWeb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

#header_sub .header_wrap .menu .joinWeb li {
  margin: 0 1.5rem;
  position: relative;
}

#header_sub .header_wrap .menu .joinWeb li a {
  color: #000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#header_sub .header_wrap .menu .joinWeb li:hover a {
  color: #d5001c;
}

/* SECTION */
.content {
  width: 100%;
  background: #c8cacb;
}

.content .content_inner {
  width: 100%;
  height: 100%;
  padding: 1rem 5rem;
  position: relative;
  margin: 0 auto;
}

.content .content_inner .wrap {
  width: 100%;
  height: 100%;
  border: 1px solid red;
}

/* FOOTER */
#footer_sub {
  width: 100%;
  height: 450px;
  padding: 2rem 5rem 4rem;
}

#footer_sub .footer_wrap {
  width: 100%;
  height: 100%;
  position: relative;
  border-top: 1px solid #c8cacb;
  padding: 30px 5px;
}

#footer_sub .footer_wrap .row {
  width: 100%;
  height: 100%;
}

#footer_sub .footer_wrap .row .col-3 h3 {
  font: bold 20px/1 "Lato";
  margin-bottom: 20px;
}

#footer_sub .footer_wrap .row .col-3 ul {
  padding: 0;
}

#footer_sub .footer_wrap .row .col-3 ul li {
  font: normal 16px/1 "noto sans";
  margin-bottom: 20px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#footer_sub .footer_wrap .row .col-3 ul li:hover {
  color: #d5001c;
}

#footer_sub .footer_wrap .row:last-child .sns .row {
  margin: 0;
  margin-top: 60px;
}

#footer_sub .footer_wrap .row:last-child .sns .row .col-4 {
  width: 50px;
  height: 50px;
  background: #313639;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-right: 10px;
  margin-bottom: 10px;
}

#footer_sub .footer_wrap .row:last-child .sns .row .col-4 i {
  font-size: 20px;
  color: white;
}

#footer_sub .footer_wrap .row:last-child .sns .row .col-4:hover {
  background: #d5001c;
}

section .model_body {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100vw;
  min-height: 330vh;
}

section .model_body .box {
  width: 100vw;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  display: inline-block;
  -webkit-box-shadow: 0 5px 5px #313639;
          box-shadow: 0 5px 5px #313639;
}

section .model_body .box .box_img {
  width: 100%;
  height: 100%;
  background-image: url(/img/model/more/1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

section .model_body .box .text {
  position: absolute;
  top: 7%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #fff;
  text-align: center;
}

section .model_body .box .in_img {
  position: absolute;
  top: 15%;
  left: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section .model_body .box .in_img a {
  color: rgba(255, 255, 255, 0.7);
  padding: 0.5rem;
  font-size: larger;
  font-weight: 600;
}

section .model_body .box .in_img a:hover {
  text-decoration: underline;
  color: white;
}

section .model_body .box .in_img a i {
  margin: 0.3rem;
}

section .model_body .body_text {
  width: 100vw;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section .model_body .body_text .text_1 {
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section .model_body .body_text .text_1 .inner_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 4rem 6rem;
}

section .model_body .body_text .text_1 .inner_text h2 {
  margin-bottom: 1rem;
  text-align: center;
}

section .model_body .body_text .text_1 .inner_text div {
  text-align: center;
  margin: 0.5rem;
}

section .model_body .body_text .text_1 .inner_text .text_imp {
  font-weight: 700;
  font-size: large;
}

section .model_body .body_text .text_1 .inner_img1 {
  width: 48vw;
  height: 50vh;
  background-image: url(/img/model/more/2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: -3px 3px 5px #313639;
          box-shadow: -3px 3px 5px #313639;
}

section .model_body .body_text .text_2 {
  position: relative;
  width: 100vw;
  height: 80vh;
}

section .model_body .body_text .text_2 .inner_img2 {
  width: 100%;
  height: 80vh;
  background-image: url(/img/model/more/4.jpg);
  opacity: 0.9;
  background-color: #000;
  background-repeat: repeat;
  background-size: cover;
}

section .model_body .body_text .text_2 .inner_text2 {
  position: absolute;
  top: 10%;
  left: 10%;
  color: #fff;
}

section .model_body .body_text .text_2 .inner_text2 h2 {
  margin: 1rem 0;
}

section .model_body .body_text .text_2 .inner_text2 div {
  margin: 0.5rem 0;
}

section .model_body .body_text .text_2 .inner_text2 .text_imp {
  font-weight: 700;
  font-size: large;
}

section .model_body .body_text .text_3 {
  position: relative;
  width: 100vw;
  height: 100vh;
}

section .model_body .body_text .text_3 .inner_img3 {
  width: 100%;
  height: 90vh;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  background-color: #000;
  opacity: 1;
}

section .model_body .body_text .text_3 .inner_img3 video {
  width: 100%;
  opacity: 0.8;
}

section .model_body .body_text .text_3 .inner_text3 {
  position: absolute;
  top: 10rem;
  left: 5rem;
  color: #fff;
  text-align: center;
}

section .model_body .body_text .text_3 .inner_text3 h2 {
  margin: 1rem 0;
}

section .model_body .body_text .text_3 .inner_text3 div {
  margin: 0.5rem 0;
}

section .model_body .body_text .text_3 .inner_text3 .text_imp {
  font-weight: 700;
  font-size: large;
}

.model .content_inner .series {
  margin: 1rem;
  color: #313639;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.model .content_inner .series h3 {
  margin-right: 1rem;
}

.model .content_inner .series h3 i {
  margin-right: 0.6rem;
}

.model .content_inner .series span {
  padding: 0.5rem;
}

.model .content_inner .series span i {
  margin-right: 0.5rem;
}

.model .content_inner .card_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.model .content_inner .card_container .col .card_total {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  word-wrap: break-word;
  background-clip: border-box;
  background-color: #c8cacb;
}

.model .content_inner .card_container .col .card_total:hover {
  background-color: rgba(80, 83, 86, 0.3);
}

.model .content_inner .card_container .col .card_total .car_name {
  font-weight: 700;
  font-size: large;
  padding: 0.5rem;
  margin-bottom: 0;
  margin-left: 1.3rem;
}

.model .content_inner .card_container .col .card_total .card_body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0 1rem 1rem;
}

.model .content_inner .card_container .col .card_total .card_body .model_btn {
  margin-left: 10%;
  width: 80%;
  background-color: #c8cacb;
  text-align: center;
  border: 2px solid #505356;
  padding: 10px 0;
}

.model .content_inner .card_container .col .card_total .card_body .model_btn:hover {
  background-color: #000;
}

.model .content_inner .card_container .col .card_total .card_body .model_btn:hover a {
  color: #fff;
}

.model .content_inner .card_container .col .card_total .card_body .model_btn a {
  color: black;
  font-weight: 600;
}

.model .content_inner .card_container .col .card_total .card-footer {
  margin-left: 2rem;
  margin-bottom: 2rem;
}

.model .content_inner .card_container .col .card_total .card-footer .model_a {
  color: black;
}

.model .content_inner .card_container .col .card_total .card-footer .model_a:hover {
  text-decoration: underline;
  font-weight: 600;
}

.model .content_inner .card_container .col .card_total .card-footer .model_a i {
  margin: 0.5rem;
}

.total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.total .img_box {
  width: 40vw;
  height: 60vh;
  background-color: #000;
}

.total .option {
  margin: 5rem 0.5rem 4rem;
  width: 50vw;
  height: 60vh;
}

.total .option .select .accor {
  background-color: #c8cacb;
  cursor: pointer;
  padding: 16px;
  width: 100%;
  outline: none;
  border: none;
  text-align: left;
  font-size: 16px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.total .option .select .accor:hover {
  background-color: rgba(49, 54, 57, 0.5);
  font-weight: bold;
}

.total .option .select .accor:after {
  content: "\002B";
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.total .option .select .panel {
  padding: 0 16px;
  background-color: rgba(200, 202, 203, 0.3);
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
  border-bottom: 1px solid #eeeeee;
}

.total .option .select .panel .item_list .color-select .color-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.total .option .select .panel .item_list .color-select .color-boxes .box {
  width: 50px;
  height: 50px;
  margin: 5px;
  cursor: pointer;
}

.total .option .select .panel .item_list .color-select .color-boxes .box:hover {
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.total .option .select .panel .item_list .color-select .color-boxes .color-1 {
  background-color: #fff;
}

.total .option .select .panel .item_list .color-select .color-boxes .color-2 {
  background-color: #000;
}

.total .option .select .panel .item_list .color-select .color-boxes .color-3 {
  background-color: #d5001c;
}

.total .option .select .panel .item_list .color-select .color-boxes .color-4 {
  background-color: yellow;
}

.total .option .select .panel .item_list .color-select .color-boxes .color-5 {
  background-color: whitesmoke;
}

.total .option .select .panel .item_list .color-select .color-boxes .color-6 {
  background-color: #151516;
}

.total .option .select .panel .item_list .color-select .color-boxes .color-7 {
  background-color: #414141;
}

.total .option .select .panel .item_list .color-select .color-boxes .color-8 {
  background-color: #8b8b8b;
}

.total .option .select .panel .item_list .color-select .color-boxes .color-9 {
  background-color: #202039;
}

.total .option .select .panel .item_list .color-select .color-boxes .color-10 {
  background-color: #273025;
}

.total .option .select .panel .item_list .color-select .color-boxes .color-11 {
  background-color: #2281df;
}

.total .option .select .panel .item_list .color-select .color-boxes .color-12 {
  background-color: #7c7c7c;
}

.total .option .select .panel .item_list .color-select .color-boxes .color-13 {
  background-color: #a20e27;
}

.total .option .select .panel .item_list .color-select .color-boxes .color-14 {
  background-color: #adaaa6;
}

.total .option .select .panel .item_list .color-select .color-boxes .color-15 {
  background-color: #418b31;
}

.total .option .select .panel .item_list .color-select .color-boxes .color-16 {
  background-color: #d9d8d8;
}

.total .option .select .panel .item_list .wheel-select .wheel {
  width: 50px;
  height: 50px;
  margin: 5px;
  cursor: pointer;
}

.total .option .select .active {
  background-color: rgba(49, 54, 57, 0.2);
}

.total .option .select .active:after {
  content: "\2212";
}

.total .option .select .active:hover {
  background-color: rgba(49, 54, 57, 0.5);
  font-weight: bold;
}

.experience .content_inner .wrap h1 {
  font-family: "noto sans";
  background: red;
}

.service {
  background: #fff;
}

.service .sub_visual {
  width: 100%;
  height: 30vw;
  position: relative;
}

.service .sub_visual .wrap {
  width: 100%;
  height: 100%;
  position: relative;
}

.service .sub_visual .wrap .background-img {
  width: 100%;
  height: 100%;
}

.service .sub_visual .wrap .background-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 10%;
     object-position: 0 10%;
}

.service .sub_visual .wrap .text {
  position: absolute;
  top: 6rem;
  left: 6rem;
  color: #fff;
}

.service .sub_visual .wrap .text h2 {
  font: 500 30px/1 "noto sans";
}

.service .sub_visual .wrap .text p {
  font: normal 16px/1 "noto sans";
}

.service .content_inner {
  padding: 2rem 5rem 10rem;
}

.service .content_inner .wrap {
  border: none;
  /* 서비스 리스트 */
  /* 기타 버튼들 */
}

.service .content_inner .wrap > h3 {
  font: normal 24px/1 "noto sans";
  color: #313639;
}

.service .content_inner .wrap > h3::after {
  display: block;
  content: "";
  width: 80px;
  height: 2px;
  background: #313639;
  margin: 20px 0;
}

.service .content_inner .wrap .service_list_nav {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
}

.service .content_inner .wrap .service_list_nav > li {
  padding: 0.5rem 1rem;
  background: rgba(200, 202, 203, 0.3);
  font-family: "noto sans";
  color: #313639;
  letter-spacing: 0.5px;
  border: 1px solid #fff;
  cursor: pointer;
}

.service .content_inner .wrap .service_list_nav > li.on {
  font-weight: 600;
  background: rgba(200, 202, 203, 0.6);
  color: #d5001c;
}

.service .content_inner .wrap .service_list_contents {
  margin-bottom: 5rem;
}

.service .content_inner .wrap .service_list_contents article {
  display: none;
  width: 100%;
}

.service .content_inner .wrap .service_list_contents article.on {
  display: block;
}

.service .content_inner .wrap .service_list_contents article > .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2rem;
}

.service .content_inner .wrap .service_list_contents article > .wrap .con_text {
  width: 60%;
  font-family: "noto sans";
  color: #313639;
}

.service .content_inner .wrap .service_list_contents article > .wrap .con_text h3 {
  font-size: 28px;
  margin: 2rem 0;
}

.service .content_inner .wrap .service_list_contents article > .wrap .con_text p {
  font-size: 16px;
  padding-right: 2rem;
  line-height: 2;
}

.service .content_inner .wrap .service_list_contents article > .wrap .con_img {
  width: 40%;
}

.service .content_inner .wrap .service_list_contents article > .wrap .con_img img {
  width: 100%;
}

.service .content_inner .wrap .service_list_contents article .btn_more {
  width: 100%;
  position: relative;
}

.service .content_inner .wrap .service_list_contents article .btn_more .btn_wrap {
  width: 140px;
  padding: 0.3rem 0;
  text-align: center;
  border-top: 1.5px solid #313639;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: 0.75s;
  transition: 0.75s;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  cursor: pointer;
  text-align: center;
}

.service .content_inner .wrap .service_list_contents article .btn_more .btn_wrap.on {
  width: 100%;
  opacity: 0;
}

.service .content_inner .wrap .service_list_contents article .btn_more .btn_wrap span {
  letter-spacing: 1px;
}

.service .content_inner .wrap .service_list_contents article .btn_more .btn_wrap span i {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.service .content_inner .wrap .service_list_contents article .btn_more .btn_wrap:hover span i {
  -webkit-animation: more 1s linear infinite;
          animation: more 1s linear infinite;
}

.service .content_inner .wrap .service_list_contents article .btn_more .more_contents {
  width: 100%;
  background: rgba(200, 202, 203, 0.2);
  text-align: center;
  -webkit-transition: 1s;
  transition: 1s;
  padding: 5rem;
  display: none;
}

.service .content_inner .wrap .service_list_contents article .btn_more .more_contents.on {
  display: block;
  height: initial;
  visibility: visible;
  z-index: 10;
}

.service .content_inner .wrap .service_list_contents article .btn_more .more_contents i.close {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  cursor: pointer;
  color: #313639;
}

.service .content_inner .wrap .service_list_contents article .btn_more .more_contents i.close:hover {
  color: #d5001c;
}

.service .content_inner .wrap .service_list_contents article .btn_more .more_contents h4 {
  font: 500 24px/1 "noto sans";
  text-align: left;
  margin-bottom: 2rem;
  color: #313639;
}

.service .content_inner .wrap .service_list_contents article .btn_more .more_contents .wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.service .content_inner .wrap .service_list_contents article .btn_more .more_contents .wrap .text {
  text-align: left;
  padding-right: 3rem;
}

.service .content_inner .wrap .service_list_contents article .btn_more .more_contents .wrap .text h5 {
  font: normal 20px/1 "noto sans";
  margin-bottom: 1rem;
}

.service .content_inner .wrap .service_list_contents article .btn_more .more_contents .wrap .text p {
  font: normal 16px/1.5 "noto sans";
}

.service .content_inner .wrap .service_list_contents article .btn_more .more_contents .wrap img {
  width: 40%;
}

.service .content_inner .wrap .etc_btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5rem;
}

.service .content_inner .wrap .etc_btns div {
  width: 30%;
  height: 100px;
  padding: 0 2rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(200, 202, 203, 0.2)), to(rgba(200, 202, 203, 0.6)));
  background: linear-gradient(to bottom, rgba(200, 202, 203, 0.2), rgba(200, 202, 203, 0.6));
  text-align: left;
  line-height: 100px;
  color: #313639;
}

.service .content_inner .wrap .etc_btns div:hover {
  background: #c8cacb;
  color: #d5001c;
}

@-webkit-keyframes more {
  0% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  50% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  100% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
}

@keyframes more {
  0% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  50% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  100% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
}

/* HEADER */
#header {
  width: 100%;
  height: 70px;
  position: fixed;
  z-index: 10;
}

#header .header_wrap {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 5rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#header .header_wrap:hover {
  background: #fff;
}

#header .header_wrap:hover .menu .gnbWeb li a,
#header .header_wrap:hover .menu .joinWeb li a {
  color: #000;
}

#header .header_wrap .logo {
  margin: 0;
}

#header .header_wrap .logo img {
  width: 40px;
}

#header .header_wrap .menu {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Noto Sans KR", sans-serif;
}

#header .header_wrap .menu .gnbWeb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

#header .header_wrap .menu .gnbWeb li {
  margin: 0 3rem;
  position: relative;
}

#header .header_wrap .menu .gnbWeb li a {
  color: #fff;
  -webkit-transition: 0.5;
  transition: 0.5;
}

#header .header_wrap .menu .gnbWeb li::after {
  display: block;
  content: "";
  width: 0px;
  height: 4px;
  background: #d5001c;
  position: absolute;
  left: -5px;
  bottom: -23px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#header .header_wrap .menu .gnbWeb li:hover::after {
  width: 110px;
}

#header .header_wrap .menu .gnbWeb li:hover a {
  color: #000;
}

#header .header_wrap .menu .joinWeb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

#header .header_wrap .menu .joinWeb li {
  margin: 0 1.5rem;
  position: relative;
}

#header .header_wrap .menu .joinWeb li a {
  color: #fff;
}

#header .header_wrap .menu .joinWeb li:hover a {
  color: #000;
}

/* SECTION */
.swiper {
  width: 100%;
  height: 100vh;
}

.swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
}

.swiper .swiper-wrapper .swiper-slide {
  width: 100%;
  height: 100%;
}

.swiper .swiper-wrapper .swiper-slide .section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 90vh;
  padding: 4% 2%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 55px;
}

.swiper .swiper-wrapper .swiper-slide .section1 .box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin: 0 2%;
  -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  line-height: 0;
}

.swiper .swiper-wrapper .swiper-slide .section1 .box > img {
  width: 200%;
  height: calc(100% - 15vh);
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.swiper .swiper-wrapper .swiper-slide .section1 .box > span {
  font-size: 3.8vh;
  display: block;
  text-align: center;
  height: 10vh;
  line-height: 2.6;
}

.swiper .swiper-wrapper .swiper-slide .section1 .box:hover {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.swiper .swiper-wrapper .swiper-slide .section1 .box:hover img {
  width: 100%;
  height: 100%;
}

.swiper .swiper-wrapper .swiper-slide .section2 {
  width: 100%;
  height: 100%;
}

.swiper .swiper-wrapper .swiper-slide .section2 .section2-wrap {
  width: 100%;
  height: 100%;
}

.swiper .swiper-wrapper .swiper-slide .section2 .section2-wrap video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper .swiper-wrapper .swiper-slide .section3 {
  width: 100%;
  height: 100%;
}

.swiper .swiper-wrapper .swiper-slide .section3 .section3-wrap {
  text-align: center;
}

.swiper .swiper-wrapper .swiper-slide .section3 .section3-wrap .article-box {
  display: inline-block;
  margin: 10px;
  padding: 30px;
  border-radius: 20px;
  background-color: #fff8f8;
  border: 1px solid #fae2e7;
}

.swiper .swiper-wrapper .swiper-slide .section3 .section3-wrap .article-box .img-box {
  width: 180px;
  height: 180px;
  background-color: #fae2e7;
  border-radius: 50%;
}

/* FOOTER */
#footer {
  width: 100%;
  height: 450px;
  padding: 2rem 5rem 4rem;
}

#footer .footer_wrap {
  width: 100%;
  height: 100%;
  position: relative;
  border-top: 1px solid #c8cacb;
  padding: 30px 5px;
}

#footer .footer_wrap .row {
  width: 100%;
  height: 100%;
}

#footer .footer_wrap .row .col-3 h3 {
  font: bold 20px/1 "Lato";
  margin-bottom: 20px;
}

#footer .footer_wrap .row .col-3 ul {
  padding: 0;
}

#footer .footer_wrap .row .col-3 ul li {
  font: normal 16px/1 "noto sans";
  margin-bottom: 20px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#footer .footer_wrap .row .col-3 ul li:hover {
  color: #d5001c;
}

#footer .footer_wrap .row:last-child .sns .row {
  margin: 0;
  margin-top: 60px;
}

#footer .footer_wrap .row:last-child .sns .row .col-4 {
  width: 50px;
  height: 50px;
  background: #313639;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-right: 10px;
  margin-bottom: 10px;
}

#footer .footer_wrap .row:last-child .sns .row .col-4 i {
  font-size: 20px;
  color: white;
}

#footer .footer_wrap .row:last-child .sns .row .col-4:hover {
  background: #d5001c;
}
/*# sourceMappingURL=style.css.map */