@import "reset";
@import "subpage";
@import "model";
@import "purchase";
@import "center";
@import "service";

// 변수 선언
// color
$red: #d5001c;
$dark: #313639;
$white: #fff;
$black: #000;
$lightGray: #c8cacb;
$blue: #15577e;
$darkGray: #505356;
$gray: #494e51;
$footerBack: linear-gradient(180deg, rgba(255, 255, 255, 0) 0, rgba(0, 0, 0, 0.1) 100%);

// font-family
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Noto+Sans+KR&display=swap");
// font-family: 'Lato', sans-serif;
// font-family: 'Noto Sans KR', sans-serif;

/* LOGIN 팝업창 */
body {
  .pop {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: url("../img/login_back.jpeg") no-repeat;
    background-size: cover;
    overflow: hidden;
    z-index: 5;

    .login {
      background-color: white;
      padding: 3rem 2rem 2rem 2rem;
      position: absolute;
      top: 0;
      left: 15rem;
      width: 400px;
      .wrap {
        width: 100%;
        position: relative;

        .pic {
          width: 100%;
          position: relative;
          padding: 0 calc(50% - 50px);
          img {
            width: 100px;
          }
        }
        h1 {
          font: bold 40px/1 "noto sans";
          margin: 3rem 0 2rem;
        }
        form {
          label {
            font: normal 14px/1 "noto sans";
          }
          input[type="text"],
          input[type="password"] {
            border: 1px solid $dark;
            width: 200px;
            height: 30px;
            margin-bottom: 10px;

            &:focus,
            &:active {
              outline: double 3px $dark;
            }
          }
          input[type="radio"] {
            margin-bottom: 20px;
            margin-right: 5px;
          }
          label[for="personal"] {
            margin-right: 10px;
          }
        }
        > a {
          display: inline-block;
          width: 100px;
          height: 40px;
          background: rgba($red, 0.9);
          text-align: center;
          font: normal 16px/40px "arial";
          color: white;
          margin-bottom: 20px;
          transition: 0.2s;
          &:hover {
            background: rgba($red, 1);
          }
        }
        span {
          display: block;
          text-align: center;
          position: relative;
          margin-bottom: 2rem;

          &::before {
            content: "";
            display: block;
            width: 140px;
            height: 1px;
            background-color: $lightGray;
            position: absolute;
            top: 50%;
          }
          &::after {
            content: "";
            display: block;
            width: 140px;
            height: 1px;
            background-color: $lightGray;
            position: absolute;
            top: 50%;
            right: 0;
          }
        }
        p {
          font: normal 14px/1 "airal";
          letter-spacing: 1px;
          a {
            font-size: 14px;
            text-decoration: underline;
          }
        }
      }

      // 닫기버튼
      .btnClose {
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        color: #111;
        cursor: pointer;
        font-size: 25px;
      }
    }
  }
}

/* HEADER */
#header {
  width: 100%;
  height: 70px;

  .header_wrap {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 5rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    transform-origin: top;
    transition: 0.5s;
    &:hover {
      background: $white;
      .menu {
        .gnbWeb li a,
        .joinWeb li a {
          color: $black;
        }
      }
    }

    .logo {
      margin: 0;
      img {
        width: 40px;
      }
    }

    .menu {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: "Noto Sans KR", sans-serif;

      .gnbWeb {
        display: flex;
        margin: 0;
        li {
          margin: 0 3rem;
          position: relative;

          a {
            color: $dark;
            transition: 0.5;
            font-size: 16px;
          }

          &::after {
            display: block;
            content: "";
            width: 0px;
            height: 4px;
            background: $red;
            position: absolute;
            left: -5px;
            bottom: -23px;
            transition: 0.5s;
          }

          &:hover {
            &::after {
              width: 110px;
            }
          }
        }
      }

      .joinWeb {
        display: flex;
        margin: 0;
        li {
          margin: 0 1.5rem;
          position: relative;

          a {
            color: $dark;
            font-size: 16px;
            transition: 0.2s;
          }

          &:hover {
            a {
              color: $red;
              font-weight: bold;
            }
          }

          .pop {
            width: 100%;
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
            background: url("../img/login_back.jpeg") no-repeat;
            background-size: cover;
            overflow-x: hidden;
            z-index: 5;

            .login {
              background-color: white;
              padding: 3rem 2rem 2rem 2rem;
              position: absolute;
              top: 0;
              left: 15rem;
              width: 400px;
              .wrap {
                width: 100%;
                position: relative;

                .pic {
                  width: 100%;
                  position: relative;
                  padding: 0 calc(50% - 50px);
                  img {
                    width: 100px;
                  }
                }
                h1 {
                  font: bold 40px/1 "noto sans";
                  margin: 3rem 0 2rem;
                }
                form {
                  label {
                    font: normal 14px/1 "noto sans";
                  }
                  input[type="text"],
                  input[type="password"] {
                    border: 1px solid $dark;
                    width: 200px;
                    height: 30px;
                    margin-bottom: 10px;

                    &:focus,
                    &:active {
                      outline: double 3px $dark;
                    }
                  }
                  input[type="radio"] {
                    margin-bottom: 20px;
                    margin-right: 5px;
                  }
                  label[for="personal"] {
                    margin-right: 10px;
                  }
                }
                > a {
                  display: inline-block;
                  width: 100px;
                  height: 40px;
                  background: rgba($red, 0.9);
                  text-align: center;
                  font: normal 16px/40px "arial";
                  color: white;
                  margin-bottom: 20px;
                  transition: 0.2s;
                  &:hover {
                    background: rgba($red, 1);
                  }
                }
                span {
                  display: block;
                  text-align: center;
                  position: relative;
                  margin-bottom: 2rem;

                  &::before {
                    content: "";
                    display: block;
                    width: 140px;
                    height: 1px;
                    background-color: $lightGray;
                    position: absolute;
                    top: 50%;
                  }
                  &::after {
                    content: "";
                    display: block;
                    width: 140px;
                    height: 1px;
                    background-color: $lightGray;
                    position: absolute;
                    top: 50%;
                    right: 0;
                  }
                }
                p {
                  font: normal 14px/1 "airal";
                  letter-spacing: 1px;
                  a {
                    font-size: 14px;
                    text-decoration: underline;
                  }
                }
              }

              // 닫기버튼
              .btnClose {
                position: absolute;
                top: 1.5rem;
                right: 1.5rem;
                color: #111;
                cursor: pointer;
                font-size: 25px;
              }
            }
          }
        }
      }
    }
  }
}

/* SECTION */
#main {
  width: 100%;

  // section1
  .section1 {
    display: flex;
    width: 100%;
    height: calc(100vh - 70px);

    .box {
      flex: 1;
      overflow: hidden;
      transition: 0.5s;

      &:hover {
        flex: 1 1 50%;

        .wrap {
          img {
            width: 100%;
            height: 100%;
          }
          .contents {
            bottom: 8rem;
            right: 6rem;
            opacity: 1;
          }
        }
      }
      .wrap {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;

        img {
          width: 200%;
          height: calc(100% - 10vh);
          object-fit: cover;
          transition: 1s;
        }
        > .contents {
          width: 800px;
          display: block;
          color: $white;
          text-align: right;
          position: absolute;
          bottom: 5rem;
          right: -100px;
          transition: 1.2s;
          opacity: 0;

          h2 {
            font: bold 40px/1 "lato";
            margin-right: 2rem;
          }
          span {
            font-size: 1.5rem;
          }
        }
        > span {
          display: block;
          height: 10vh;
          text-align: center;
          line-height: 10vh;
          font-size: 3.5vh;
          color: $dark;
          text-shadow: 10px 10px 20px $darkGray;
        }
      }
    }
  }

  // section2
  .section2 {
    width: 100%;
    height: 100vh;
    background-color: rgba($lightGray, 0.1);

    .section2-wrap {
      width: 100%;
      height: 100%;
      padding: 100px 5rem;
      .article-wrap {
        width: 100%;
        height: 500px;

        display: flex;
        gap: 5px;
        article {
          width: 100%;
        }
        .box1,
        .box3 {
          .video {
            width: 100%;
            height: 60%;
            margin-bottom: 5px;
            video {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .img-box {
            width: 100%;
            height: calc(40% - 5px);
            display: flex;
            gap: 5px;
            div {
              width: 50%;
              height: 100%;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }
        }
        .box2 {
          .video {
            width: 100%;
            height: 50%;
            margin-bottom: 5px;
            video {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
        .box3 {
          .video {
            margin-top: 5px;
          }
        }
      }
    }
  }

  // section3
  .section3 {
    width: 100%;
    padding: 80px;
    background-color: rgba($lightGray, 0.3);

    .section3-wrap {
      width: 100%;
      text-align: center;
      padding: auto;
      h2 {
        border: 3px solid salmon;
        font: bold 48px/1 "noto sans";
      }
      p {
        margin: auto;
        border: 3px solid salmon;
        // margin: 12px 0 50px;
        font: normal 16px/1 "noto sans";
      }
      .article-wrap {
        border: 3px solid salmon;
        display: flex;
        justify-content: space-around;

        .article-box {
          border: 1px solid red;
          span,
          > i,
          a {
            display: block;
          }
        }
      }
    }
  }
  // section4
  .section4 {
    width: 100%;
    background-color: rgba($lightGray, 0.1);

    .section4-wrap {
      width: 100%;
      text-align: center;
      padding: 10rem 5rem;

      h2 {
        font: bold 48px/1 "noto sans";
      }
      p {
        margin: 12px 0 50px;
        font: normal 16px/1 "noto sans";
      }
      .article-wrap {
        display: flex;
        justify-content: space-between;
        gap: 10px;

        .article-box {
          padding: 40px 30px;
          background-color: $white;

          span {
            display: inline-block;
            background: $blue;
            padding: 5px 10px;
            color: $white;
            border-radius: 50px;
            font-size: 14px;
            margin-bottom: 15px;
          }
          h3 {
            color: $blue;
            font-size: 20px;
            margin-bottom: 30px;
            font-weight: bold;
          }
          .image {
            width: 190px;
            height: 190px;
            position: relative;
            text-align: center;
            overflow: hidden;
            &:hover {
              img {
                transform: scale(1.5);
              }
              &::after {
                top: 0;
              }
            }
            img {
              width: 100%;
              height: 100%;
              overflow: hidden;
              transition: 1s;
            }
            &::after {
              content: "캐스퍼 구매 고객을 위한 카라이프 안심케어 서비스";
              display: block;
              width: 100%;
              height: 100%;
              color: $white;
              background: rgba(#111, 0.3);
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 20px;
              position: absolute;
              transition: 0.5s;
              top: 100%;
              // font-size: 20px;
            }
          }
          a {
            display: inline-block;
            margin-top: 20px;
            color: gray;
            &:hover {
              color: $dark;
            }
          }

          &:nth-of-type(2) {
            .image {
              &::after {
                content: "면세 혜택부터 유지비 할인까지 가능한 엔트리 SUV PORSCHE";
              }
            }
          }
          &:nth-of-type(3) {
            .image {
              &::after {
                content: "신차 구매시 포인트 3% 적립, 7년간 7회 무상점검까지";
              }
            }
          }
          &:nth-of-type(4) {
            .image {
              &::after {
                content: "썬팅 무료 시공 쿠폰/ 브랜드 KIT 중 택 1";
              }
            }
          }
        }
      }
    }
  }
}

/* FOOTER */
#footer {
  width: 100%;
  height: 450px;
  padding: 2rem 5rem 4rem;
  .footer_wrap {
    width: 100%;
    height: 100%;
    position: relative;
    border-top: 1px solid $lightGray;
    padding: 30px 5px;

    .row {
      width: 100%;
      height: 100%;

      .col-3 {
        h3 {
          font: bold 20px/1 "Lato";
          margin-bottom: 20px;
        }
        ul {
          padding: 0;
          li {
            font: normal 16px/1 "noto sans";
            margin-bottom: 20px;
            cursor: pointer;
            transition: 0.5s;

            &:hover {
              color: $red;
            }
          }
        }
      }
      &:last-child {
        .sns {
          .row {
            margin: 0;
            margin-top: 60px;
            .col-4 {
              width: 50px;
              height: 50px;
              background: $dark;
              display: flex;
              justify-content: center;
              align-items: center;
              transition: 0.5s;
              margin-right: 10px;
              margin-bottom: 10px;

              i {
                font-size: 20px;
                color: white;
              }

              &:hover {
                background: $red;
              }
            }
          }
        }
      }
    }
  }
}
